@import url('./_expanded/player__btn_subtrack_expanded_false.css');
@import url('./_expanded/player__btn_subtrack_expanded_true.css');

.player__btn_subtrack {
  grid-area: subtrack;
  justify-self: end;
  width: 24px;
  height: 24px;
  border: none;
  background-size: contain;
}

@media screen and (max-width: 424px) {
  .player__btn_subtrack {
    width: 16px;
    height: 16px;
  }
}
