.player__wrapper_expanded_true {
  color: inherit;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 6fr 1fr 167px 40px;
  grid-template-areas:
    "button title duration mode subtrack"
    ". timeline timeline . ."
    ". infoblock infoblock infoblock ."
}

@media screen and (max-width: 767px) {
  .player__wrapper_expanded_true {
    grid-template-columns: 24px 6fr 1fr 24px;
    grid-template-areas:
      "button title duration subtrack"
      ". timeline timeline ."
      ". mode mode ."
      ". infoblock infoblock .";
  }
}
