@import url(./__music/player__music.css);
@import url(./__song-duration/player__song-duration.css);
@import url(./__song-title/player__song-title.css);
@import url(./__timeline/player__timeline.css);
@import url(./__wrapper/player__wrapper.css);
@import url(./__btn/player__btn.css);
@import url(./__playhead/player__playhead.css);

@import url(./__btn/_play/player__btn_play.css);
@import url(./__btn/_pause/player__btn_pause.css);
@import url(./__btn/_subtrack/player__btn_subtrack.css);

.player {
  margin: -80px 20px 12px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .player {
    margin-bottom: 16px;
  }
}
