.form__input_visible-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  border: 2px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}
