.form__btn {
  border: 2px solid #000000;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  margin-top: 88px;
  font-size: 18px;
  line-height: 1.2;
  padding: 19px 24px;
  transition: background-color 0.3s ease-in-out;
}

.form__btn:hover {
  background-color: #d18aad6e;
  border: 2px solid #d18aad00;
}

@media screen and (max-width: 1023px) {
  .form__btn {
    margin-top: 70px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .form__btn {
    margin-top: 60px;
    font-size: 14px;
    padding: 15px 22px;
  }
}

@media screen and (max-width: 424px) {
  .form__btn {
    margin-top: 50px;
    font-size: 12px;
    padding: 10px 20px;
  }
}
