.player__timeline {
  grid-area: timeline;
  height: 6px;
  cursor: pointer;
  background-color: rgba(243, 243, 243, 0.3);
}

@media screen and (max-width: 767px) {
  .player__timeline {
    margin-top: 8px;
  }
}
