.player__btn_play {
  background: url(../../../../images/play-btn.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .player__btn_play {
    width: 16px;
    height: 16px;
  }
}
