.player_expanded_true {
  height: 210px;
  transition: height 1s ease-in-out;
}

@media screen and (max-width: 767px) {
  .player_expanded_true {
    height: 200px;
  }
}

@media screen and (max-width: 424px) {
  .player_expanded_true {
    height: 190px;
  }
}
