.header__logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(861 * 100% / 1280);
  /* height: 272.03px; */
  z-index: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__logo-wrapper {
    width: calc(400 * 100% / 480);
  }
}

@media screen and (max-width: 424px) {
  .header__logo-wrapper {
    width: calc(304 * 100% / 310);
  }
}
