.info__article {
  margin-bottom: 60px;
  max-width: 716px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.info__article:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .info__article {
    font-size: 16px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 424px) {
  .info__article {
    font-size: 12px;
    margin-bottom: 36px;
  }
}
