.background {
  background: url('../../images/background-top.jpg') top center no-repeat,
    url('../../images/background-bottom.jpg') bottom center no-repeat;
  transition: background-position 0.5s ease-out;
  position: fixed;
  background-size: cover;
  width: 120vw;
  height: 120vh;
  z-index: -1;
}
