.background {
  background: 
  url('../../images/background-top.jpg') top center no-repeat,
  url('../../images/background-bottom.jpg') bottom center no-repeat;
  transition: background-position .5s ease-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
