.info__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 44px;
}

@media screen and (max-width: 1279px) {
  .info__title {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 1023px) {
  .info__title {
    font-size: 26px;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 767px) {
  .info__title {
    font-size: 24px;
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 424px) {
  .info__title {
    font-size: 20px;
    margin-bottom: 25px;
  }
}
