.info__title {
  font-weight: normal;
  font-style: italic;
  font-size: 50px;
  line-height: 1.2;
  margin: 0 0 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .info__title {
    font-size: 46px;
  }
}

@media screen and (max-width: 1023px) {
  .info__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .info__title {
    font-size: 36px;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 424px) {
  .info__title {
    font-size: 30px;
    margin-bottom: 32px;
  }
}
