.player__info-button {
  grid-area: mode;
  width: 135px;
  height: 35px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 1.2;
  border-radius: 30px;
  justify-self: center;
  padding: 0 10px;
  text-align: center;
  border: 2px solid #fff;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s ease-in-out;
  color: #fff;
  background: none;
  justify-self: end;
  opacity: 100%;
}

.player__info-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 767px) {
  .player__info-button {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 424px) {
  .player__info-button {
    font-size: 12px;
    height: 31px;
  }
}
