@import url('./_type/player__btn_type_pause.css');
@import url('./_type/player__btn_type_play.css');
@import url('./_type/player__btn_type_expand.css');

.player__btn {
  color: inherit;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
  transition: opacity 0.3s ease-in-out;
}

.player__btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .player__btn {
    width: 16px;
    height: 16px;
  }
}
