.infoblock__content {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  white-space: pre;
  font-style: italic;
} 

.infoblock__content:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 1023px) {
  .infoblock__content {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .infoblock__content {
    font-size: 16px;
  }
}
@media screen and (max-width: 424px) {
  .infoblock__content {
    font-size: 14px;
  }
}
