@import url('./__music/player__music.css');
@import url('./__wrapper/_expanded/player__wrapper_expanded_true.css');
@import url('./__wrapper/_expanded/player__wrapper_expanded_false.css');
@import url('./__song-duration/player__song-duration.css');
@import url('./__song-title/player__song-title.css');
@import url('./__timeline/player__timeline.css');
@import url('./__btn/player__btn.css');
@import url('./__playhead/player__playhead.css');
@import url('./__btn/_play/player__btn_play.css');
@import url('./__btn/_pause/player__btn_pause.css');
@import url('./__btn/_subtrack/player__btn_subtrack.css');
@import url('./__info-button/player__info-button.css');
@import url('./_expanded/player_expanded_false.css');
@import url('./_expanded/player_expanded_true.css');
@import url('./__featured-text/player__featured-text.css');

.player {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  .player {
    padding: 16px;
  }
}

@media screen and (max-width: 424px) {
  .player {
    padding: 8px;
  }
}
