.player__song-duration {
  grid-area: duration;
  justify-self: end;
  display: flex;
  align-items: flex-end;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .player__song-duration {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .player__song-duration {
    align-items: center;
    font-size: 18px;
  }
}

@media screen and (max-width: 424px) {
  .player__song-duration {
    font-size: 14px;
  }
}
