.player__btn_pause {
  background: url(../../../../images/pause-btn.svg) no-repeat;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 424px) {
  .player__btn_pause {
    background-size: 16px 16px;
  }
}
