.player__btn_pause {
  background: url(../../../../images/pause-btn.svg) no-repeat;
  background-size: 14px 18px;
  background-position: center;
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .player__btn_pause {
    margin-right: 12px;
  }
}
