.navbar-link {
  display: block;
  margin-top: 10px;
  padding: 8px 20px;
  color: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  border: 2px solid;
  border-color: inherit;
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.navbar-link:first-of-type {
  margin-top: 0;
}

.navbar-link:hover {
  font-style: italic;
}

@media screen and (max-width: 1023px) {
  .navbar-link {
    padding: 8px 18px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-link {
    padding: 7px 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 424px) {
  .navbar-link {
    padding: 7px 14px;
    font-size: 12px;
  }
}
